<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="ember-app/js/fb-urlfix.js"></script>
    <link rel="stylesheet" href="ember-app/css/normalize.css">
    <link rel="stylesheet" href="ember-app/css/style.css">
    <link rel="stylesheet" href="ember-app/bootstrap/css/bootstrap-yeti.min.css">
</head>
<body>

    {{{body}}}

<script src="ember-app/js/libs/jquery-1.10.2.js"></script>
<script src="ember-app/bootstrap/js/bootstrap.js"></script>
</body>
</head>
</html>
