/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.nomargin-top {
    margin-top: 0px;
}
    
.nomargin-bottom {
    margin-bottom: 0px;
}

.top-buffer { 
    margin-top:20px; 
}

.inline {
    display: inline-block
}

.cursor-pointer {
    cursor: pointer;
}


#loading-text-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#loading-text-wrapper .path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 5s linear  infinite;
  -webkit-animation: dash 5s linear  infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

#loading-text-wrapper .path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash2 5s linear  infinite;
}

@-webkit-keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
